// scss-lint:disable ColorVariable

@import "functions";

// default color scheme
$bg_color: if($variant == "dark", #002b36, #eee8d5);
$fg_color: if($variant == "dark", #dcdcdc, #586e75);
$base_color: if($variant == "dark", #073642, #fdf6e3);
$text_color: if($variant == "dark", #eee8d5, #073642);
$selected_bg_color: #859900;
$selected_fg_color: #fdf6e3;
$tooltip_bg_color: $selected_bg_color;
$tooltip_fg_color: $selected_fg_color;

$selected_borders_color: if($variant == 'light', darken($selected_bg_color, 30%), darken($selected_bg_color, 20%));
$borders_color: if($variant == 'light', shade($bg_color, .85), shade($bg_color, .88));
$borders_edge: if($variant == 'light', transparentize(white, 0.2), transparentize($fg_color, 0.93));

// dark colors
$dark_bg_color: $bg_color;
$dark_fg_color: $fg_color;

// shadows
$dark_shadow: #000;
$light_shadow: #fff;

// white and black
$black: #000;
$white: #fff;

$button_border: shade($base_color, .9);
$entry_border: alpha($dark_shadow, .06);

$scrollbar_bg_color: if($variant == 'light', darken($bg_color, 5%), lighten($bg_color, 5%));
$scrollbar_slider_color: if($variant == 'light', darken($bg_color, 30%), lighten($bg_color, 30%));
$scrollbar_slider_hover_color: #859900;
$scrollbar_slider_active_color: lighten(#859900, 5%);

$switch_disabled_bg_color: #d8d8d8;
$switch_disabled_border_color: #ccc;
$switch_disabled_fg_color: mix(#444, #f0f0f0, .5);
$switch_disabled_slider_bg_color: #e8eaec;
$switch_bg_color: mix($bg_color, $base_color, .3);
$switch_fg_color: #8e969e;
$switch_slider_bg_color: #fbfbfb;

// misc colors used by gtk+
$info_fg_color: if($variant == "dark", #3a87ad, #266ed2);
$info_bg_color: if($variant == "dark", #d9edf7, #d9edf7);
$warning_fg_color: if($variant == "dark", #c09853, #b58900);
$warning_bg_color: if($variant == "dark", #d64937, #fcf8e3);
$question_fg_color: if($variant == "dark", #d64937, #cb4b16);
$question_bg_color: if($variant == "dark", #fce5d5, #fce5d5);
$error_fg_color: if($variant == "dark", #b94a48, #dc322f);
$error_bg_color: if($variant == "dark", #f2dede, #f2dede);
$link_color: if($variant == "dark", #fc6f5d, #d33682);
$success_color: if($variant == "dark", #53a93f, #859900);
$warning_color: if($variant == "dark", #f57900, #cb4b16);
$error_color: if($variant == "dark", #cc0000, #dc322f);

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_color: $dark_bg_color;
$titlebar_fg_color: $dark_fg_color;

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_fg: $dark_fg_color;
$osd_bg: alpha($osd_base, .8);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;

$wm_bg: $titlebar_bg_color;
$wm_border_focused: transparent;
$wm_border_unfocused: transparent;
$wm_title_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_title_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_bg_color, .8);
$wm_icons_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_bg_color, .8);

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, .5);
$insensitive_bg_color: mix($bg_color, $base_color, .6);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: if($variant == 'light', darken($base_color, .01), lighten($base_color, .01));
$backdrop_text_color: mix($backdrop_base_color, $text_color, .8);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, .5);
$backdrop_insensitive_color: if($variant == 'light', darken($backdrop_bg_color, 15%), lighten($backdrop_bg_color, 15%));
$backdrop_selected_fg_color: mix($selected_bg_color, $selected_fg_color, .66);
$backdrop_borders_color: mix($bg_color, $borders_color, .9);
$backdrop_dark_fill: mix($backdrop_bg_color, $backdrop_borders_color, .35);
$backdrop_sidebar_bg_color: mix($backdrop_bg_color, $backdrop_base_color, .5);

$backdrop_osd_base: $osd_base;
$backdrop_osd_bg: $osd_bg;
$backdrop_osd_fg: mix($osd_fg, $backdrop_osd_base, .5);

$backdrop_scrollbar_bg_color: darken($backdrop_bg_color, 3%);
$backdrop_scrollbar_slider_color: mix($backdrop_fg_color, $backdrop_bg_color, .4);

$backdrop_menu_color: if($variant == 'light', $backdrop_base_color, mix($backdrop_bg_color, $backdrop_base_color, .2));

$drop_target_color: #4e9a06;

// widget styles
$roundness: 2px;
$spacing: 5px;
$gradient: 0;
$contrast: .8;
